.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 590px;
  background-image: url("images/74137552-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 892px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 33px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 736px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-image-1 {
    min-height: 558px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-image-1 {
    min-height: 351px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 164px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 40px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -74px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 328px;
}

.u-section-3 .u-image-1 {
  width: 239px;
  height: 155px;
  margin: 55px auto 0 66px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: -155px auto 0 380px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: -3px 20px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: -82px auto 62px 380px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 313px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-3 {
    margin-left: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-3 {
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    margin-left: 113px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 328px;
}

.u-section-4 .u-image-1 {
  width: 239px;
  height: 155px;
  margin: 55px auto 0 66px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: -155px auto 0 380px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: -3px 20px 0 auto;
}

.u-section-4 .u-text-3 {
  width: 380px;
  margin: -84px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 313px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-3 {
    margin-left: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-3 {
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    margin-left: 113px;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 328px;
}

.u-section-5 .u-image-1 {
  width: 239px;
  height: 155px;
  margin: 55px auto 0 66px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: -155px auto 0 380px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: -3px 20px 0 auto;
}

.u-section-5 .u-text-3 {
  width: 380px;
  margin: -82px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 313px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-3 {
    margin-left: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-3 {
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-3 {
    margin-left: 113px;
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 333px;
}

.u-section-6 .u-image-1 {
  width: 239px;
  height: 155px;
  margin: 55px auto 0 66px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  margin: -155px auto 0 380px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: -3px 20px 0 auto;
}

.u-section-6 .u-text-3 {
  margin: -94px 399px 60px 380px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 313px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-text-3 {
    margin-left: 313px;
    margin-right: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 240px;
    margin-right: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-3 {
    margin-left: 180px;
    margin-right: 99px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-3 {
    margin-left: 113px;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 328px;
}

.u-section-7 .u-image-1 {
  width: 239px;
  height: 155px;
  margin: 55px auto 0 66px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  margin: -155px auto 0 380px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: -3px 20px 0 auto;
}

.u-section-7 .u-text-3 {
  margin: -89px 328px 60px 380px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 313px;
  }

  .u-section-7 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-text-3 {
    margin-left: 313px;
    margin-right: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 240px;
    margin-right: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-7 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-3 {
    margin-left: 180px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-3 {
    margin-left: 113px;
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 328px;
}

.u-section-8 .u-image-1 {
  width: 239px;
  height: 155px;
  margin: 55px auto 0 66px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  margin: -155px auto 0 380px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: -24px 0 0 auto;
}

.u-section-8 .u-text-3 {
  margin: -173px 328px 89px 380px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 313px;
  }

  .u-section-8 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-8 .u-text-3 {
    margin-left: 313px;
    margin-right: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 240px;
    margin-right: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-8 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-3 {
    margin-left: 180px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-8 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-3 {
    margin-left: 113px;
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 328px;
}

.u-section-9 .u-image-1 {
  width: 239px;
  height: 155px;
  margin: 55px auto 0 66px;
}

.u-section-9 .u-text-1 {
  font-size: 1.5rem;
  margin: -155px auto 0 380px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: -3px 20px 0 auto;
}

.u-section-9 .u-text-3 {
  margin: -82px 363px 61px 380px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 313px;
  }

  .u-section-9 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-text-3 {
    margin-left: 313px;
    margin-right: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-left: 240px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 240px;
    margin-right: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-9 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-9 .u-text-3 {
    margin-left: 180px;
    margin-right: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-9 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-text-3 {
    margin-left: 113px;
    margin-right: 0;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 492px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-10 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-10 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-10 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-10 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-10 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-10 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-10 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-10 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-10 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-10 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
  }
}